#feature-im
{

   padding-left: 350px;
   margin: -450px 100px -10px 190px;
 }
 #Content{
     margin:120px 0px 0px 300px;
 }
 #image{
     margin-left: 130px;
 }
 #Header h2{
     margin-left: 154px;
     
 }
 #message{
     
     margin-left: 20px;
 }
 #msg1{
     margin:0px 0px 0px 45px;
 }
 #msg{
    margin:0px 0px 0px 30px;
}
#info1{
    margin: 20px 0px 0px 20px;
}
#info2{
    margin: -19px 0px 0px 270px;
}